<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });
    </script>
    <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}

</head>
    
    
   {%- comment -%}<!-- Determine placing of secondary column -->{%- endcomment -%}

{%- if page.secondary-column -%}
	{%- if page.secondary-column == 'left' -%}
		{%- assign secondary-column = 'left' -%}
	{%- endif -%}
	{%- if page.secondary-column == 'right' -%}
		{%- assign secondary-column = 'right' -%}
	{%- endif -%}
{%- else -%}
	{%- if site.data.setup.secondary-column == 'left' -%}
		{%- assign secondary-column = 'left' -%}
	{%- endif -%}
	{%- if site.data.setup.secondary-column == 'right' -%}
		{%- assign secondary-column = 'right' -%}
	{%- endif -%}
{%- endif -%}


{%- comment -%}<!-- Determine content source of secondary column -->{%- endcomment -%}

{%- if page.secondary-column-content -%}
	{%- assign secondary-column-content = page.secondary-column-content -%}
{%- else -%}
	{%- assign secondary-column-content = 'secondary-column.html' -%}
{%- endif -%}


{%- comment -%}<!-- Determine placing of tertiary column -->{%- endcomment -%}

{%- if page.tertiary-column -%}
	{%- if page.tertiary-column == 'present' -%}
		{%- assign tertiary-column = 'present' -%}
	{%- endif -%}
{%- else -%}
	{%- if site.data.setup.tertiary-column == 'present' -%}
		{%- assign tertiary-column = 'present' -%}
	{%- endif -%}
{%- endif -%}


{%- comment -%}<!-- Determine content source of secondary column -->{%- endcomment -%}

{%- if page.tertiary-column-content -%}
	{%- assign tertiary-column-content = page.tertiary-column-content -%}
{%- else -%}
	{%- assign tertiary-column-content = 'tertiary-column.html' -%}
{%- endif -%}


{%- comment -%}<!-- Determine placing of banner-area -->{%- endcomment -%}

{%- if page.banner-position -%}
	{%- assign banner-position = page.banner-position -%}
{%- elsif page.navbanner-position -%}
	{%- assign banner-position = page.navbanner-position -%}
{%- else -%}
	{%- assign banner-position = site.data.setup.banner-position -%}
{%- endif %}
<html>
	{% include head.html %}
	
  	<body class="body-panel">
  	
	{%- if banner-position == 'top' or banner-position == 'top-fixed' -%}
		{%- if site.data.setup.use-separate-banner-menubar-file %}
  		<div id="navFrame"><script>$("#navFrame").load("/banner-area.html");</script></div>
		{%- else -%}
			{%- include banner-area.html -%}
		{%- endif -%}
	{%- endif %}

		<div class="column-panel">

	{%- if secondary-column == 'left' %}
			<div class="secondary-column">
				<div class="secondary-column-content">
		{%- if site.data.setup.drop-down-menu -%}{%- else -%}
			{%- include vertical-menu.html label-modifier="a" -%}
		{%- endif %}
		{% include {{ secondary-column-content }} label-modifier="a" %}
				</div>
		{%- if tertiary-column == 'present' %}	
				<div class="tertiary-column-content">
			{% include {{ tertiary-column-content }} %}
				</div>
		{%- endif %}
			</div>
			<div class="secondary-separator"></div>
	{%- else -%}
		{%- if tertiary-column == 'present' %}
			<div class="tertiary-column">
				<div class="tertiary-column-content">
			{% include {{ tertiary-column-content }} %}
				</div>
			</div>
			<div class="tertiary-separator"></div>
		{%- endif -%}			
	{%- endif %}

			<div class="primary-column">
  	{%- if banner-position == 'main' -%}
		{%- if site.data.setup.use-separate-banner-menubar-file %}
  				<div id="navFrame"><script>$("#navFrame").load("/banner-area.html");</script></div>
		{%- else -%}
			{% include banner-area.html %}
		{%- endif -%}
	{%- endif %}

<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
  <div id="main">
    <!-- Content Row -->
    <div class="row">
        {% assign content_col_size = "col-md-12" %}
        {% unless page.hide_sidebar %}
            <!-- Sidebar Column -->
            <div class="col-md-3" id="tg-sb-sidebar">
                {% include sidebar.html %}
            </div>
            {% assign content_col_size = "col-md-9" %}
        {% endunless %}

        <!-- Content Column -->
        <div class="{{content_col_size}}" id="tg-sb-content">
            {{content}}
        </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</div>
<!-- /#main -->
    </div>

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
